In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("marketing_campaign.csv", sep="\t")
df.head()

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [2]:
incl= ['mean','std']
num_cols = df.select_dtypes(include=['int', 'float']).drop(columns=['ID'])
statystyki = {
'Średnia':num_cols.mean(),
'Mediana':num_cols.median(),
'Minimum':num_cols.min(),
'Maksimum':num_cols.max(),
'Odchylenie Standardowe':num_cols.std(),
'Skośność':num_cols.skew()
}
#statystyki = pd.DataFrame(statystyki).transpose()

In [4]:
other_cols = [col for col in df.columns if col not in num_cols]

for i in statystyki:
 
    for k in other_cols:
       statystyki[i][k]='N/A'  

df['Education'].unique().tolist()

['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle']

In [5]:

education_sort = {
    'Basic': 1,      
    '2n Cycle': 2,   
    'Graduation': 3, 
    'Master': 4,     
    'PhD': 5         
}
sorted_education = sorted(df['Education'].tolist(), key=lambda x: education_sort[x])

In [6]:
 
#mediana, min i max edukacji
if(len(sorted_education)%2==0):
    if(sorted_education[int(len(sorted_education)/2)]==sorted_education[int(len(sorted_education)/2+1)]):
        statystyki['Mediana']['Education']= sorted_education[int(len(sorted_education)/2)]
 

else:
    statystyki['Mediana']['Education']= sorted_education[int(len(sorted_education)/2)+1]
statystyki['Minimum']['Education']='Basic'
statystyki['Maksimum']['Education']='PhD'

In [7]:
statystyki = pd.DataFrame(statystyki).transpose()

statystyki = statystyki[df.columns.tolist()] 
statystyki.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
Średnia,N/A,1968.805804,N/A,N/A,52247.251354,0.444196,0.50625,N/A,49.109375,303.935714,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
Mediana,N/A,1970.0,Graduation,N/A,51381.5,0.0,0.0,N/A,49.0,173.5,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
Minimum,N/A,1893.0,Basic,N/A,1730.0,0.0,0.0,N/A,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
Maksimum,N/A,1996.0,PhD,N/A,666666.0,2.0,2.0,N/A,99.0,1493.0,...,20.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,11.0,1.0
Odchylenie Standardowe,N/A,11.984069,N/A,N/A,25173.076661,0.538398,0.544538,N/A,28.962453,336.597393,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274